 <div ng-controller='dashController'>
    <div><a>Bucket List</a> | <a href="#/dashboard">Home | <a href="#/logout">Logout </a></div>
 <h3>Hello {{myname}}</h3>


   
   	
      Title: <input ng-model ="newdash.title" type="text">
   
    
    description: <input ng-model ="newdash.description" type="text">
    user: 
    <select ng-model ="newdash.name">                                
            <option ng-repeat="user in users" value="{{user._id}}">     
                {{user.name}}
            </option>
    </select>
   

    <input  ng-click='addList()' type='submit' value='Add to list'>

         <h3>Before I die i want to</h3>
    <div ng-repeat="dash in dashs ">
     <div>   <input ng-click="setdone(checkstatus,dash)" ng-model="checkstatus" type="checkbox" ng-checked="{{dash.done}}">
    {{ dash.name_id.name }} says {{ dash.title }}: {{ dash.desc }} -{{dash.created_at}} </div>
    </div>   
    <h3>List of logged users(Click to view profile)</h3>
   
    <ul ng-repeat="user in users ">
        
    <li><a href="#/user/{{user._id}}">{{ user.name }}</a>  </li>
    </ul>  

    </div>